# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.so

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
#  ML / DATA (IMPORTANT)
# =========================

# Dataset folders
data/
preprocessed/

# Images (large files)
*.png
*.jpg
*.jpeg

# Medical scan files
*.nii
*.nii.gz

# Model weights
*.pth
*.pt

# Logs
*.log

# Results (optional)
results/

# =========================
# Misc
# =========================
*.csv
